@model Solucion_Comercio.Models.TbFactura

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Crear nueva Venta</h1>

<h4>Facturas</h4>*@
<hr />

<div class="card">
  <div class="card-header">
      Factura
  </div>
  <div class="card-body">
      <div class="col-sm-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Buscar Producto</label>
                <div class="input-group mb-3">
                
                <input type="text" class="form-control"id="txtBuscar">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    
                </div>
            </div>

      </div>


        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbproductos">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
  </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*//este fue un comentario agregado*@

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#txtBuscar").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("BusquedaControl", "Home")?busqueda=' + request.term,
                        data: { busqueda: request.term },
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                }, 
                select:function(event,elemento){
                    console.log(elemento)

                    $("#tbproductos tbody").append(
                        $("<tb>").append(
                            $("<td>").text(elemento.item.nombreProducto),
                            $("<td>").text(elemento.item.precioProducto),
                            $("<td>").text(1),
                            $("<td>").text(elemento.item.precioProducto * 1),
                        )
                    )
                }
            });
        });
    </script>

}

