@model Solucion_Comercio.Models.TbFactura
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Crear nueva Venta</h1>

<h4>Facturas</h4>*@
<hr />

<div class="card">
    <form asp-action="Create">
        <div class="card-header">
            Factura
            <div class="row">

                <div class="form-group">
                    <label asp-for="NombreCliente" class="control-label"></label>
                    <input asp-for="NombreCliente" class="form-control" />
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div>



                @* <div class="form-group col-sm-6">
                    <label asp-for="NombreCliente" class="control-label" for="cliente">Cliente:</label>
                    <input asp-for="NombreCliente" class="form-control type="text" id="cliente" name="Cliente" required value="Cliente">
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div> *@


                <div class="form-group">
                    <label asp-for="FechaFactura" class="control-label"></label>
                    <input asp-for="FechaFactura" class="form-control" />
                    <span asp-validation-for="FechaFactura" class="text-danger"></span>
                </div>

               @*  <div class="form-group col-sm-6">
                    <label asp-for="FechaFactura" for="fecha">Fecha:</label>
                    <input asp-for="FechaFactura" class="form-control" type="date" id="fecha" name="Fecha" required>
                </div> *@

              @*   <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label"></label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div> *@

                

                <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label"></label>
                    <select asp-for="NombreUsuario" class="form-control" asp-items="ViewBag.NombreUsuario"></select>
                </div>

                @* <div class="form-group col-sm-6">
                    <label asp-for="NombreUsuario" for="usuario">Usuario:</label>
                    <input asp-for="NombreUsuario" class="form-control" type="text" id="usuario" name="Usuario" required value="Vendedor">
                </div> *@
            </div>
        </div>

        <div class="row align-items-end m-1">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Buscar Producto</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="txtBuscar">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row m-1">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbproductos">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="row m-1">
            
            @* <div class="form-group mb-2 col-sm-3">
                <label asp-for="MontoTotal" class="form-label">Total</label>
                <input asp-for="MontoTotal" class="form-control" id="TotalPagar">
            </div> *@

            <div class="form-group mb-2 col-sm-3">
                <label asp-for="MontoTotal" class="form-label">Total</label>
                <input asp-for="MontoTotal" class="form-control" id="TotalPagar">
            </div>
            <div class="form-group mb-2 col-sm-3">
                <label asp-for="MontoTarjeta" class="form-label">Tarjeta</label>
                <input asp-for="MontoTarjeta" class="form-control" id="tarjeta">
            </div>

            <div class="form-group mb-2 col-sm-3">
                <label asp-for="MontoColones" class="form-label">Efectivo</label>
                <input asp-for="MontoColones" class="form-control" id="efectivo">
            </div>

            <div class="form-group mb-2 col-sm-3">
                <label asp-for="MontoDolares" class="form-label">Dolares</label>
                <input asp-for="MontoDolares" class="form-control" id="dolares">
            </div>

           

            <div class=" mb-2 col-sm-3  d-flex ">
                <label class="form-label mr-3 mt-3">Cambio</label>
                <input class="form-control ml-3 mt-3" id="Cambio" readonly>
            </div>
        </div>
        <button id="realizarpago" type="submit" value="Create" class="btn btn-success m-3 " style="padding: 20px ">Efectuar pago</button>
        
    </form>
    <div class="col-sm-3 d-flex ">
        <button id="btnCalcularCambio" class="btn btn-primary">Calcular Cambio</button>
    </div>
   
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@*//este fue un comentario agregado*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#txtBuscar").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("BusquedaControl", "Home")?busqueda=' + request.term,
                        data: { busqueda: request.term },
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                select: function (event, elemento) {
                    console.log(elemento)

                    $("#tbproductos tbody").append(
                        $("<tr>").append(
                            $("<td>").text(elemento.item.nombreProducto),
                            $("<td>").text(elemento.item.precioProducto),
                            $("<td>").text(1),
                            $("<td>").text(elemento.item.precioProducto * 1),
                        )
                    );

                    // Limpiar el valor del textbox después de seleccionar un producto
                    event.preventDefault();
                    $(this).val("");

                    // Calcular el total del precio de los productos en la tabla
                    calcularTotalPrecioProductos();
                }
            });


            function calcularTotalPrecioProductos() {
                var total = 0;
                $("#tbproductos tbody tr").each(function () {
                    var precio = parseFloat($(this).find("td:eq(3)").text());
                    total += isNaN(precio) ? 0 : precio;
                });

                // Mostrar el total en el campo de entrada
                $("#TotalPagar").val(total.toFixed(0)); // Puedes usar toFixed para mostrar solo 2 decimales
            }

            // Agrega un evento al botón para calcular el cambio
            $("#btnCalcularCambio").click(function () {
                calcularCambio();
            });

            function calcularCambio() {
                var total = parseFloat($("#TotalPagar").val()); // Obtener el total a pagar
                var montoEfectivo = parseFloat($("#efectivo").val()); // Obtener el monto pagado con efectivo
                var montoTarjeta = parseFloat($("#tarjeta").val()); // Obtener el monto pagado con tarjeta

                if (!isNaN(total) && (!isNaN(montoTarjeta) || !isNaN(montoEfectivo))) {
                    if (!isNaN(montoTarjeta) && isNaN(montoEfectivo)) {
                        var cambio = montoTarjeta - total;
                        $("#Cambio").val(cambio.toFixed(2)); // Mostrar el cambio en el campo de entrada
                    } else if (!isNaN(montoEfectivo) && isNaN(montoTarjeta)) {
                        var cambio = montoEfectivo - total;
                        $("#Cambio").val(cambio.toFixed(2)); // Mostrar el cambio en el campo de entrada
                    } else if (!isNaN(montoEfectivo) && !isNaN(montoTarjeta)) {
                        var cambio = (montoTarjeta + montoEfectivo) - total;
                        $("#Cambio").val(cambio.toFixed(2)); // Mostrar el cambio en el campo de entrada
                    } else {
                        $("#Cambio").val("N/A"); // Mostrar "N/A" si los valores no son válidos
                    }
                } else {
                    $("#Cambio").val("N/A"); // Mostrar "N/A" si los valores no son válidos
                }

            }


        });




    </script>
    <script>
        // Obtener el campo de fecha por su ID
        var fechaInput = document.getElementById("fecha");

        // Crear una fecha actual
        var fechaActual = new Date();

        // Formatear la fecha en el formato requerido (YYYY-MM-DD)
        var formatoFecha = fechaActual.toISOString().substr(0, 10);

        // Establecer la fecha actual como valor por defecto
        fechaInput.value = formatoFecha;
    </script>


    }

